In [1]:
# set up
import os
import warnings
import numpy as np
import pandas as pd
import functools as func
import functions as f
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('white')
home_path = "C:\\Users\joche\FIM Kernkompetenzzentrum\Projekt VIdES - Dokumente\General\\07_Arbeitsordner\\04_Ergebnisse\\20220920_Ergebnisse_4_Wochen"
os.chdir(home_path)

before changing to a use case folder, always make you switch to ``home_path`` first (and then go down one level by selecting the desired use case). This way, you can switch to any use case from **any** directory.

In [2]:
os.chdir(home_path)
os.chdir('Base_Case')

now we are in **Base_Case**. We hand over the current directory path with ``os.getcwd()`` to the functions. They only operate in and give results for the selected use case.

#### Notice:
To properly calculate results for a use case, all month-folders need to be unzipped.

#### KPI 1: Average price
To calculate the average price at each time step, there are four functions for the respective levels. At each level, for each month (here: 4) all relevant csv.-files are read in.
- f.avg_p_germany() -> 1 * 4 files
- f.avg_p_regions() -> 6 * 4 files
- f.avg_p_ecs() -> 36 * 4 files
- f.avg_p_members() -> 1481 * 4 files

In [4]:
f.avg_p_regions(os.getcwd())

,slot,region1_avg trade rate [ct./kWh],region1_total trade volume [EURO ct.],region2_avg trade rate [ct./kWh],region2_total trade volume [EURO ct.],region3_avg trade rate [ct./kWh],region3_total trade volume [EURO ct.],region4_avg trade rate [ct./kWh],region4_total trade volume [EURO ct.],region5_avg trade rate [ct./kWh],region5_total trade volume [EURO ct.],region6_avg trade rate [ct./kWh],region6_total trade volume [EURO ct.]
0,2030-01-01T00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
1,2030-01-01T01:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
2,2030-01-01T02:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
3,2030-01-01T03:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
4,2030-01-01T04:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2030-10-07T19:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
164,2030-10-07T20:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
165,2030-10-07T21:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
166,2030-10-07T22:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
167,2030-10-07T23:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
f.avg_p_ecs(os.getcwd())

,slot,region_1_ec0_avg trade rate [ct./kWh],region_1_ec0_total trade volume [EURO ct.],region_1_ec1_avg trade rate [ct./kWh],region_1_ec1_total trade volume [EURO ct.],region_1_ec2_avg trade rate [ct./kWh],region_1_ec2_total trade volume [EURO ct.],region_1_ec3_avg trade rate [ct./kWh],region_1_ec3_total trade volume [EURO ct.],region_1_ec4_avg trade rate [ct./kWh],...,region_6_ec1_avg trade rate [ct./kWh],region_6_ec1_total trade volume [EURO ct.],region_6_ec2_avg trade rate [ct./kWh],region_6_ec2_total trade volume [EURO ct.],region_6_ec3_avg trade rate [ct./kWh],region_6_ec3_total trade volume [EURO ct.],region_6_ec4_avg trade rate [ct./kWh],region_6_ec4_total trade volume [EURO ct.],region_6_ec5_avg trade rate [ct./kWh],region_6_ec5_total trade volume [EURO ct.]
0,2030-01-01T00:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2030-01-01T01:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2030-01-01T02:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2030-01-01T03:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2030-01-01T04:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2030-10-07T19:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,2030-10-07T20:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
165,2030-10-07T21:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166,2030-10-07T22:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
167,2030-10-07T23:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### KPI 2: Total costs
To calculate the total costs for all months (here: 4), there is one function ``f.tot_cost()`` which returns a dictionary ``d`` with the levels as keys:
- d['germany']
- d['mm']
- d['region']
- d['ec']
- d['member']
- d['asset']

In [7]:
d = f.tot_cost(os.getcwd())
d.keys()

dict_keys(['germany', 'mm', 'region', 'ec', 'member', 'asset'])

In [8]:
d['region']

          name      total
1150  Region_1  21814.745
1351  Region_2  27233.231
1748  Region_3  17058.481
1889  Region_4  15803.935
2067  Region_5  13117.304
2254  Region_6  14968.703

In [9]:
d['ec']

              name      total
1151  Region_1_EC0  10097.764
1153  Region_1_EC1   2536.164
1175  Region_1_EC2   2555.587
1198  Region_1_EC3   2661.351
1221  Region_1_EC4   2702.872
1352  Region_2_EC0   9477.376
1354  Region_2_EC1   3728.674
1397  Region_2_EC2   3898.232
1441  Region_2_EC3   3985.550
1485  Region_2_EC4   3845.739
1749  Region_3_EC0   8451.692
1751  Region_3_EC1   1855.356
1767  Region_3_EC2   2002.604
1782  Region_3_EC3   2011.118
1797  Region_3_EC4   2041.451
1890  Region_4_EC0   7256.810
1892  Region_4_EC1   1583.065
1910  Region_4_EC2   1871.289
1929  Region_4_EC3   2160.182
1948  Region_4_EC4   1880.461
2068  Region_5_EC0   3462.088
2070  Region_5_EC1   1886.252
2087  Region_5_EC2   2325.385
2106  Region_5_EC3   2277.069
2125  Region_5_EC4   2114.383
2255  Region_6_EC0   1715.614
2257  Region_6_EC1   3075.545
2280  Region_6_EC2   2956.940
2302  Region_6_EC3   2781.462
2324  Region_6_EC4   3062.092