In [67]:
# set up
import os
import warnings
import numpy as np
import pandas as pd
import functools as func
import functions_v2 as f
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('white')
home_path = "C:\\Users\joche\FIM Kernkompetenzzentrum\Projekt VIdES - Dokumente\General\\07_Arbeitsordner\\04_Ergebnisse\\20220920_Ergebnisse_4_Wochen"
os.chdir(home_path)

In [7]:
# cumulative_grid_trades: filter by houses

path = "C:\\Users\joche\FIM Kernkompetenzzentrum\Projekt VIdES - Dokumente\General\\07_Arbeitsordner\\04_Ergebnisse\\20220920_Ergebnisse_4_Wochen\\Use_Case_2\\april\\aggregated_results\cumulative_grid_trades.json"
d = pd.read_json(path).T
d[d.name.str.contains('house')]

,name,produced,earned,consumedFrom,spentTo,parent_uuid,children,type,producedForExternal,earnedFromExternal,consumedFromExternal,spentToExternal
67fd6213-1c79-45f0-869e-cbc56940da0f,Region_5_EC0_house_Wind,-7755.388057,48313.776261,{},{},414a9aa0-d758-4754-a92b-c4305bad7e30,"[{'name': 'Region_5_ID_5_Wind_FeedIn', 'uuid':...",house,{'Region_5_ID_5_Wind_FeedIn': 7755.388056835613},{'Region_5_ID_5_Wind_FeedIn': 48313.776261381114},{},{}
ac6f62f3-4a71-4e6c-a71c-7b672fb7d4a6,Region_5_EC1_house_15,0.0,0.0,"{'Region_5_EC1': 204.00450233692575, 'Region_5...","{'Region_5_EC1': 5451.456829704744, 'Region_5_...",66a04e74-86ee-4f36-ae63-ddc3948f2ae0,[{'name': 'Region_5_ID_447_HH_4_Household_Elec...,house,{},{},{'Region_5_ID_447_HH_4_Household_Electric_Load...,{'Region_5_ID_447_HH_4_Household_Electric_Load...
185c1aa3-5d17-45b3-b270-315146e78cac,Region_5_EC1_house_12,0.0,0.0,"{'Region_5_EC1': 116.75056636473938, 'Region_5...","{'Region_5_EC1': 3055.7340797997017, 'Region_5...",66a04e74-86ee-4f36-ae63-ddc3948f2ae0,"[{'name': 'ID_3_EV_HHChild', 'uuid': '2bd33441...",house,{},{},"{'ID_3_EV_HHChild': -9.350862773335, 'Region_5...","{'ID_3_EV_HHChild': 192.6291897565034, 'Region..."
64893d5b-5abb-4c2a-afde-3da8b61f75ed,Region_5_EC1_house_13,-760.098579,8011.615336,"{'Region_5_EC1': 416.7263592850233, 'Region_5_...","{'Region_5_EC1': 11320.702883084374, 'Region_5...",66a04e74-86ee-4f36-ae63-ddc3948f2ae0,"[{'name': 'ID_16_Data_BatteryStorage', 'uuid':...",house,{'Region_5_ID_62_PV_FeedIn': 317.9508789046227...,{'Region_5_ID_62_PV_FeedIn': 1005.136733500415...,"{'ID_5_EV_Pensioner': -2.337755412607999, 'Reg...","{'ID_5_EV_Pensioner': 62.95188012318466, 'Regi..."
02ba8245-156a-438f-bcdf-14aa1537f863,Region_5_EC1_house_14,0.0,0.0,"{'Region_5_EC1': 228.89010454231354, 'Region_5...","{'Region_5_EC1': 6003.284721269903, 'Region_5_...",66a04e74-86ee-4f36-ae63-ddc3948f2ae0,[{'name': 'Region_5_ID_446_HH_4_Household_Elec...,house,{},{},{'Region_5_ID_446_HH_4_Household_Electric_Load...,{'Region_5_ID_446_HH_4_Household_Electric_Load...
...,...,...,...,...,...,...,...,...,...,...,...,...
efa4d872-15ff-46d2-b359-f5abb6a81732,Region_6_EC2_house_1,0.0,0.0,"{'Region_6_EC2': 57.62435217570299, 'Region_6_...","{'Region_6_EC2': 1448.4095540201558, 'Region_6...",b83884ff-62d5-4b7c-979c-d63445398ec8,[{'name': 'Region_6_ID_467_HH_1_Household_Elec...,house,{},{},{'Region_6_ID_467_HH_1_Household_Electric_Load...,{'Region_6_ID_467_HH_1_Household_Electric_Load...
f2228016-3600-4684-a86b-4d2ab11a3e6d,Region_6_EC2_house_8,-882.388,7456.868632,"{'Region_6_EC2': 119.36384045766002, 'Region_6...","{'Region_6_EC2': 3203.775997921113, 'Region_6_...",b83884ff-62d5-4b7c-979c-d63445398ec8,"[{'name': 'Region_6_ID_87_PV_FeedIn', 'uuid': ...",house,{'Region_6_ID_87_PV_FeedIn': 774.2952666666664},{'Region_6_ID_87_PV_FeedIn': 5870.067306324108},{'Region_6_ID_497_HH_2_Household_Electric_Load...,{'Region_6_ID_497_HH_2_Household_Electric_Load...
6d994eee-8f36-4126-9fb8-7dcbeb24dd38,Region_6_EC2_house_9,-882.388,9492.291975,"{'Region_6_EC2': 94.15066896614695, 'Region_6_...","{'Region_6_EC2': 2211.846177785921, 'Region_6_...",b83884ff-62d5-4b7c-979c-d63445398ec8,"[{'name': 'ID_4_EV_HHNoChild', 'uuid': 'b6aa88...",house,{'Region_6_ID_88_PV_FeedIn': 787.236043421377},{'Region_6_ID_88_PV_FeedIn': 7786.065785553575},{'Region_6_ID_498_HH_2_Household_Electric_Load...,{'Region_6_ID_498_HH_2_Household_Electric_Load...
fcd848bc-84b6-4eeb-9814-90fc1abbbd18,Region_6_EC2_house_0,0.0,0.0,"{'Region_6_EC2': 382.8718976777414, 'Region_6_...","{'Region_6_EC2': 9268.667395565259, 'Region_6_...",b83884ff-62d5-4b7c-979c-d63445398ec8,[{'name': 'Region_6_ID_466_HH_1_Household_Elec...,house,{},{},{'Region_6_ID_69_Heatpump_Loadprofile': -561.6...,{'Region_6_ID_69_Heatpump_Loadprofile': 12044....
52047542-ab16-4af7-a683-3973e3178457,Region_6_EC2_house_7,-882.388,9314.71859,"{'Region_6_EC2': 372.08442849035004, 'Region_6...","{'Region_6_EC2': 9887.8169109173, 'Region_6_EC...",b83884ff-62d5-4b7c-979c-d63445398ec8,"[{'name': 'ID_3_EV_HHChild', 'uuid': 'f31d57f0...",house,{'Region_6_ID_94_PV_FeedIn': 587.0011299622473},{'Region_6_ID_94_PV_FeedIn': 4550.183288297855},{'Region_6_ID_473_HH_1_Household_Electric_Load...,{'Region_6_ID_473_HH_1_Household_Electric_Load...

before changing to a use case folder, always make you switch to ``home_path`` first (and then go down one level by selecting the desired use case). This way, you can switch to any use case from **any** directory.

In [2]:
os.chdir(home_path)
os.chdir('Base_Case')

now we are in **Base_Case**. We hand over the current directory path with ``os.getcwd()`` to the functions. They only operate in and give results for the selected use case.

#### Notice:
To properly calculate results for a use case, all month-folders need to be unzipped.

#### KPI 1: Average price
---
To calculate the average price at each time step, there are four functions for the respective levels. At each level, for each month (here: 4) all relevant csv.-files are read in.
- f.avg_p_germany() -> 1 * 4 files
- f.avg_p_regions() -> 6 * 4 files
- f.avg_p_ecs() -> 36 * 4 files
- f.avg_p_houses() -> 1481 * 4 files
- f.avg_p_members() -> nr. depends on use case * 4 files

In [11]:
os.chdir(home_path)
os.chdir('Use_Case_2')

In [3]:
f.avg_p_regions(os.getcwd())

,slot,region1_avg trade rate [ct./kWh],region1_total trade volume [EURO ct.],region2_avg trade rate [ct./kWh],region2_total trade volume [EURO ct.],region3_avg trade rate [ct./kWh],region3_total trade volume [EURO ct.],region4_avg trade rate [ct./kWh],region4_total trade volume [EURO ct.],region5_avg trade rate [ct./kWh],region5_total trade volume [EURO ct.],region6_avg trade rate [ct./kWh],region6_total trade volume [EURO ct.]
0,2030-01-01T00:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
1,2030-01-01T01:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
2,2030-01-01T02:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
3,2030-01-01T03:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
4,2030-01-01T04:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2030-10-07T19:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
164,2030-10-07T20:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
165,2030-10-07T21:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
166,2030-10-07T22:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0
167,2030-10-07T23:00:00+00:00,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
f.avg_p_ecs(os.getcwd())

,slot,region_1_ec0_avg trade rate [ct./kWh],region_1_ec0_total trade volume [EURO ct.],region_1_ec1_avg trade rate [ct./kWh],region_1_ec1_total trade volume [EURO ct.],region_1_ec2_avg trade rate [ct./kWh],region_1_ec2_total trade volume [EURO ct.],region_1_ec3_avg trade rate [ct./kWh],region_1_ec3_total trade volume [EURO ct.],region_1_ec4_avg trade rate [ct./kWh],...,region_6_ec1_avg trade rate [ct./kWh],region_6_ec1_total trade volume [EURO ct.],region_6_ec2_avg trade rate [ct./kWh],region_6_ec2_total trade volume [EURO ct.],region_6_ec3_avg trade rate [ct./kWh],region_6_ec3_total trade volume [EURO ct.],region_6_ec4_avg trade rate [ct./kWh],region_6_ec4_total trade volume [EURO ct.],region_6_ec5_avg trade rate [ct./kWh],region_6_ec5_total trade volume [EURO ct.]
0,2030-01-01T00:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2030-01-01T01:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2030-01-01T02:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2030-01-01T03:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2030-01-01T04:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2030-10-07T19:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
164,2030-10-07T20:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
165,2030-10-07T21:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166,2030-10-07T22:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
167,2030-10-07T23:00:00+00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
f.avg_p_houses(os.getcwd())

In [3]:
f.avg_p_members(os.getcwd())

,slot,member_region_1_ec0_house_wind_avg trade rate [ct./kWh],member_region_1_ec0_house_wind_total trade volume [EURO ct.],member_region_1_ec1_house_0_avg trade rate [ct./kWh],member_region_1_ec1_house_0_total trade volume [EURO ct.],member_region_1_ec1_house_1_avg trade rate [ct./kWh],member_region_1_ec1_house_1_total trade volume [EURO ct.],member_region_1_ec1_house_10_avg trade rate [ct./kWh],member_region_1_ec1_house_10_total trade volume [EURO ct.],member_region_1_ec1_house_11_avg trade rate [ct./kWh],...,member_region_6_ec4_house_6_avg trade rate [ct./kWh],member_region_6_ec4_house_6_total trade volume [EURO ct.],member_region_6_ec4_house_7_avg trade rate [ct./kWh],member_region_6_ec4_house_7_total trade volume [EURO ct.],member_region_6_ec4_house_8_avg trade rate [ct./kWh],member_region_6_ec4_house_8_total trade volume [EURO ct.],member_region_6_ec4_house_9_avg trade rate [ct./kWh],member_region_6_ec4_house_9_total trade volume [EURO ct.],member_region_6_ec5_house_industry_avg trade rate [ct./kWh],member_region_6_ec5_house_industry_total trade volume [EURO ct.]
0,2030-01-01T00:00:00+00:00,12.88,1624.684313,28.18,17.125925,27.2813,16.689039,26.28,18.578208,28.4619,...,28.1832,128.310459,29.1698,17.253152,28.3761,119.968843,29.28,32.161152,23.03,1490.391843
1,2030-01-01T01:00:00+00:00,12.88,1566.642620,28.18,17.140955,27.2855,17.069398,26.28,17.505984,28.4141,...,28.2392,186.764163,29.1434,20.687470,28.3801,118.035174,25.68,26.672960,23.03,1445.690872
2,2030-01-01T02:00:00+00:00,12.88,1536.891232,28.18,18.478565,27.2243,18.178244,26.28,18.711360,28.4377,...,28.1327,130.663960,24.9271,17.780965,28.3787,118.275530,25.68,27.111232,23.03,1471.131523
3,2030-01-01T03:00:00+00:00,12.88,1538.699925,24.08,16.265237,27.2550,18.559634,26.28,17.344800,28.4692,...,28.1302,130.499440,24.9016,17.707469,28.3266,142.663067,25.68,49.613760,23.03,1490.908524
4,2030-01-01T04:00:00+00:00,12.88,1584.040737,24.08,14.049877,27.2565,16.024750,26.28,31.795296,28.4716,...,27.8990,146.513739,24.8760,33.113017,28.3299,140.447819,25.68,47.764800,23.03,1500.803298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2030-10-07T19:00:00+00:00,12.88,2972.696765,32.28,38.933984,33.4836,43.726038,32.48,67.211947,33.4836,...,33.4836,132.790760,33.4808,14.794920,33.3996,131.227028,32.88,35.773440,28.13,1705.931075
164,2030-10-07T20:00:00+00:00,12.88,2887.670212,32.28,35.749024,32.2713,38.431093,32.48,44.709803,33.4836,...,33.4836,130.765105,33.1059,13.284553,33.3930,134.749875,32.88,39.587520,28.13,1687.885541
165,2030-10-07T21:00:00+00:00,12.88,2765.065831,32.28,29.086432,32.0797,31.136768,32.48,47.386155,33.3947,...,33.4836,130.007025,33.1480,12.497013,33.3659,153.803524,32.88,58.789440,28.13,1698.193244
166,2030-10-07T22:00:00+00:00,12.88,2749.766260,32.28,34.113504,32.1021,35.925156,32.48,50.305024,33.4175,...,33.2179,127.786161,33.1560,11.472786,33.3681,151.511780,32.88,56.834176,28.13,1675.761823
167,2030-10-07T23:00:00+00:00,12.88,2652.697530,32.28,40.784704,32.1144,42.570595,29.38,24.945579,33.3981,...,33.1885,128.379236,29.5899,11.212375,33.3822,140.529439,29.28,41.195008,28.13,1705.028474

#### KPI 2: Total costs
---
To calculate the total costs for all months (here: 4), there is one function ``f.tot_cost()`` which returns a dictionary ``d`` with the levels as keys:
- d['germany']
- d['mm']
- d['region']
- d['ec']
- d['house']
- d['asset']

In [9]:
d = f.tot_cost(os.getcwd())
d.keys()

dict_keys(['germany', 'mm', 'region', 'ec', 'house', 'asset'])

In [5]:
d['region']

          name      total
1150  Region_1  21814.745
1351  Region_2  27233.231
1748  Region_3  17058.481
1889  Region_4  15803.935
2067  Region_5  13117.304
2254  Region_6  14968.703

In [10]:
d['house']

                             name      total
1152      Region_1_EC0_house_Wind  -6837.027
1154         Region_1_EC1_house_0    175.693
1155         Region_1_EC1_house_1    188.699
1156        Region_1_EC1_house_10    194.743
1157        Region_1_EC1_house_11    247.692
...                           ...        ...
2342         Region_6_EC4_house_6    905.460
2343         Region_6_EC4_house_7    128.407
2344         Region_6_EC4_house_8    889.988
2345         Region_6_EC4_house_9    231.063
2347  Region_6_EC5_house_Industry  13220.766

[553 rows x 2 columns]

#### KPI 3: Share Renewables
---
Calculates the share of grey energy, i.e. energy procured from the market. For the grey energy (the current German electricity mix), we need to define a share renewables.

Currently, a value of zero means that no grey energy is used, i.e. the entity consumes 100% renewable. A value of one means that the entity consumes 100% grey energy (electricity mix).

In [11]:
os.chdir(home_path)
os.chdir('Use_Case_2/')
use_case = 2
use_case_home_path = os.getcwd()

In [19]:
# obtain all months' time slots from .json files and combine them to index
json_filepaths, timeslots = [], []
for root, dir, file in os.walk(top=use_case_home_path, topdown=True):
    json_filepaths += [os.path.join(root, f) for f in file if 'price_energy_day.json' in f]
for j in json_filepaths:
    df = pd.read_json(j)
    timeslots += [df['Germany']['price-energy-day'][i][0]['time'] for i in range(len(df['Germany']['price-energy-day']))]
timeslots.sort()
df_out = pd.DataFrame(index=timeslots)

In [34]:
# get all relevant filepaths
all_filepaths, all_filenames = [], []
for root, dir, file in os.walk(top=use_case_home_path, topdown=True):
    all_filepaths += [os.path.join(root, f) for f in file if 'trades.csv' in f]
    all_filenames += [f for f in file if 'trades.csv' in f]
relevant_filepaths, irrelevant_filepaths = f.share_renewables_necessary_files(all_filepaths, use_case)
nr_months, l = all_filenames.count(all_filenames[0]), len(relevant_filepaths)

In [48]:
# filter relevant_filepaths for custom subset
ec_filepaths = [i for i in relevant_filepaths if 'ec' in i]

In [60]:
# filter all filepaths by nr. 8 in relevant_filepaths -> nr. 8 is R1ec0
relevant_filepaths[8::597]

['C:\\Users\\joche\\FIM Kernkompetenzzentrum\\Projekt VIdES - Dokumente\\General\\07_Arbeitsordner\\04_Ergebnisse\\20220920_Ergebnisse_4_Wochen\\Use_Case_2\\april\\germany\\grid\\region-1\\region-1-ec0-trades.csv',
 'C:\\Users\\joche\\FIM Kernkompetenzzentrum\\Projekt VIdES - Dokumente\\General\\07_Arbeitsordner\\04_Ergebnisse\\20220920_Ergebnisse_4_Wochen\\Use_Case_2\\jan\\germany\\grid\\region-1\\region-1-ec0-trades.csv',
 'C:\\Users\\joche\\FIM Kernkompetenzzentrum\\Projekt VIdES - Dokumente\\General\\07_Arbeitsordner\\04_Ergebnisse\\20220920_Ergebnisse_4_Wochen\\Use_Case_2\\Juli\\germany\\grid\\region-1\\region-1-ec0-trades.csv',
 'C:\\Users\\joche\\FIM Kernkompetenzzentrum\\Projekt VIdES - Dokumente\\General\\07_Arbeitsordner\\04_Ergebnisse\\20220920_Ergebnisse_4_Wochen\\Use_Case_2\\October\\germany\\grid\\region-1\\region-1-ec0-trades.csv']

In [62]:
i = 9
#i = range(int(l / nr_months))[2]
entity_monthly_dfs = []
entity_monthly_filepaths = relevant_filepaths[i::int(l / nr_months)]
# combine each entity's monthly data frames and hand them over to shares_renewable_helper for calculation
for f in entity_monthly_filepaths:
    df_temp = pd.read_csv(f).drop(['creation_time', 'matching_requirements', 'rate [ct./kWh]'], axis=1)
    df_temp.seller = [i.lower().replace('_', '-') for i in df_temp.seller]
    df_temp.buyer = [i.lower().replace('_', '-') for i in df_temp.buyer]
    entity_monthly_dfs.append(df_temp)
entity_name = entity_monthly_filepaths[0].split('\\')[-1].split('-trades.csv')[0]
entity_df = pd.concat(entity_monthly_dfs).sort_values(by='slot').reset_index(drop=True)
entity_df.set_index(['slot'], inplace=True)
entity_df

                           energy [kWh]        seller                  buyer
slot
2030-01-01T00:00:00+00:00      1.121333  region-1-ec1  region-1-ec1-house-17
2030-01-01T00:00:00+00:00      0.607733  region-1-ec1   region-1-ec1-house-0
2030-01-01T00:00:00+00:00      4.018663  region-1-ec1   region-1-ec1-house-6
2030-01-01T00:00:00+00:00      0.587467  region-1-ec1   region-1-ec1-house-7
2030-01-01T00:00:00+00:00      0.607733  region-1-ec1   region-1-ec1-house-6
...                                 ...           ...                    ...
2030-10-07T23:00:00+00:00      1.406933  region-1-ec1  region-1-ec1-house-11
2030-10-07T23:00:00+00:00      0.588533  region-1-ec1  region-1-ec1-house-14
2030-10-07T23:00:00+00:00      0.849067  region-1-ec1  region-1-ec1-house-10
2030-10-07T23:00:00+00:00      1.263467  region-1-ec1   region-1-ec1-house-0
2030-10-07T23:00:00+00:00      0.062126  region-1-ec1   region-1-ec1-house-1

[19796 rows x 3 columns]

In [63]:
# Handover to helper function
df = entity_df
p = entity_name

In [64]:
if 'member' in p:
    p = p.replace('member', 'mm')
# get children
sellers = [i for i in df.seller.unique() if 'mm-' not in i and i != p]
buyers = [i for i in df.buyer.unique() if 'mm-' not in i and i != p]
children = pd.Series([*sellers, *buyers]).unique()
children

array(['region-1-ec1-house-14', 'region-1-ec1-house-16',
       'region-1-ec1-house-17', 'region-1-ec1-house-0',
       'region-1-ec1-house-6', 'region-1-ec1-house-7',
       'region-1-ec1-house-12', 'region-1-ec1-house-8',
       'region-1-ec1-house-15', 'region-1-ec1-house-11',
       'region-1-ec1-house-1', 'region-1-ec1-house-3',
       'region-1-ec1-house-5', 'region-1-ec1-house-9',
       'region-1-ec1-house-20', 'region-1-ec1-house-10',
       'region-1-ec1-house-19', 'region-1-ec1-house-4',
       'region-1-ec1-house-18', 'region-1-ec1-house-13',
       'region-1-ec1-house-2'], dtype=object)

In [68]:
# select one child
c = children[1]
print(f'c: {c}')
p_to_c = f.share_renewable_df_grouper(df_out, df[(df.seller == p) & (df.buyer == c)][['energy [kWh]']])
c_to_p = f.share_renewable_df_grouper(df_out, df[(df.seller == c) & (df.buyer == p)][['energy [kWh]']])
net_p_to_c = p_to_c - c_to_p
cs_to_c = f.share_renewable_df_grouper(df_out, df[(df.seller != p) & (df.seller != c) & (df.buyer == c)][
    ['energy [kWh]']])
c_to_cs = f.share_renewable_df_grouper(df_out,
                                     df[(df.seller == c) & (df.buyer != p) & (df.buyer != c)][['energy [kWh]']])
net_cs_to_c = cs_to_c - c_to_cs
# prepare copy of df_out where calculations are made
c_name = c if 'id' not in c else p + '_' + c
df_out_copy = df_out.copy()
df_out_copy[f'{c_name}_net_p_to_c'] = net_p_to_c
df_out_copy[f'{c_name}_net_cs_to_c'] = net_cs_to_c
df_out_copy

c: region-1-ec1-house-16

,region-1-ec1-house-16_net_p_to_c,region-1-ec1-house-16_net_cs_to_c
2030-01-01T00:00,1.380533,0.0
2030-01-01T01:00,1.604000,0.0
2030-01-01T02:00,1.568267,0.0
2030-01-01T03:00,2.473867,0.0
2030-01-01T04:00,1.453333,0.0
...,...,...
2030-10-07T19:00,2.156000,0.0
2030-10-07T20:00,2.532000,0.0
2030-10-07T21:00,2.772533,0.0
2030-10-07T22:00,3.033333,0.0
2030-10-07T23:00,2.445867,0.0

In [75]:
p

'region-1-ec1'

In [33]:
cs_to_c

                  energy [kWh]
2030-01-01T00:00      0.000000
2030-01-01T01:00      6.981230
2030-01-01T02:00      6.653988
2030-01-01T03:00      9.104583
2030-01-01T04:00      7.825985
...                        ...
2030-10-07T19:00     22.509373
2030-10-07T20:00     19.612548
2030-10-07T21:00      9.836357
2030-10-07T22:00     14.654953
2030-10-07T23:00      9.692907

[672 rows x 1 columns]

In [63]:
a = df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] <= 0)]
a

                  region-1-ec1_net_p_to_c  region-1-ec1_net_cs_to_c
2030-01-01T00:00                29.095249                       0.0
2030-01-01T08:00                26.454925                       0.0
2030-01-01T21:00                27.762230                       0.0
2030-01-01T22:00                28.159980                       0.0
2030-01-02T02:00                28.178760                       0.0
...                                   ...                       ...
2030-10-06T21:00                31.712675                       0.0
2030-10-07T03:00                32.579339                       0.0
2030-10-07T04:00                33.409250                       0.0
2030-10-07T09:00                10.372807                       0.0
2030-10-07T16:00                36.079779                       0.0

[124 rows x 2 columns]

In [64]:
b = df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] > 0)]
b

                  region-1-ec1_net_p_to_c  region-1-ec1_net_cs_to_c
2030-01-01T01:00                22.320599                  6.981230
2030-01-01T02:00                22.939082                  6.653988
2030-01-01T03:00                20.292401                  9.104583
2030-01-01T04:00                22.434055                  7.825985
2030-01-01T05:00                21.170575                  7.975162
...                                   ...                       ...
2030-10-07T19:00                12.340292                 22.509373
2030-10-07T20:00                11.783080                 19.612548
2030-10-07T21:00                22.706598                  9.836357
2030-10-07T22:00                18.498432                 14.654953
2030-10-07T23:00                23.414801                  9.692907

[346 rows x 2 columns]

In [65]:
c = df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] <= 0)]
c

                  region-1-ec1_net_p_to_c  region-1-ec1_net_cs_to_c
2030-01-02T09:00               -14.873469                  5.944512
2030-01-02T10:00               -21.395869                  0.000000
2030-01-02T11:00               -28.593640                  0.000000
2030-01-02T12:00               -26.122382                  0.000000
2030-01-02T13:00                -8.580793                  0.000000
...                                   ...                       ...
2030-10-07T10:00                -8.565764                  4.135069
2030-10-07T11:00               -37.258477                  0.000000
2030-10-07T12:00               -42.548470                  0.000000
2030-10-07T13:00               -34.660626                  0.000000
2030-10-07T14:00                -9.630190                  0.000000

[202 rows x 2 columns]

In [82]:
df_out[p] = 1
print(f'p: {p}')
df_out

p: region-1

                  region-1
2030-01-01T00:00         1
2030-01-01T01:00         1
2030-01-01T02:00         1
2030-01-01T03:00         1
2030-01-01T04:00         1
...                    ...
2030-10-07T19:00         1
2030-10-07T20:00         1
2030-10-07T21:00         1
2030-10-07T22:00         1
2030-10-07T23:00         1

[672 rows x 1 columns]

In [83]:
if p in df_out.columns.tolist():
    df_out_copy.loc[
        (df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] <= 0), [c_name]] = \
        df_out[p]
    p_share_grey_electricity = df_out[p]
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] > 0), [
        c_name]] = p_share_grey_electricity * (df_out_copy[f'{c_name}_net_p_to_c'] / (
            df_out_copy[f'{c_name}_net_p_to_c'] + df_out_copy[f'{c_name}_net_cs_to_c']))
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] <= 0), [c_name]] = 0
else:
    df_out_copy.loc[
        (df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] <= 0), [c_name]] = 1
    p_share_grey_electricity = 1
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] > 0), [
        c_name]] = p_share_grey_electricity * (df_out_copy[f'{c_name}_net_p_to_c'] / (
            df_out_copy[f'{c_name}_net_p_to_c'] + df_out_copy[f'{c_name}_net_cs_to_c']))
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] <= 0), [c_name]] = 0
df_out_copy

,region-1,region-1-ec1_net_p_to_c,region-1-ec1_net_cs_to_c,region-1-ec1
2030-01-01T00:00,1,29.095249,0.000000,1.000000
2030-01-01T01:00,1,22.320599,6.981230,0.761748
2030-01-01T02:00,1,22.939082,6.653988,0.775150
2030-01-01T03:00,1,20.292401,9.104583,0.690289
2030-01-01T04:00,1,22.434055,7.825985,0.741376
...,...,...,...,...
2030-10-07T19:00,1,12.340292,22.509373,0.354101
2030-10-07T20:00,1,11.783080,19.612548,0.375310
2030-10-07T21:00,1,22.706598,9.836357,0.697742
2030-10-07T22:00,1,18.498432,14.654953,0.557965
2030-10-07T23:00,1,23.414801,9.692907,0.707231

In [85]:
p.lower()

'region-1'

---

In [8]:
df = pd.concat([df, df1]).sort_values(by='slot').reset_index(drop=True)
df.set_index(['slot'], inplace=True)
df

                           energy [kWh]        seller         buyer
slot
2030-01-01T00:00:00+00:00      0.002375      region-1  region-1-ec4
2030-01-01T00:00:00+00:00      1.646400      region-1  region-1-ec3
2030-01-01T00:00:00+00:00      0.963733      region-1  region-1-ec3
2030-01-01T00:00:00+00:00      0.002375      region-1  region-1-ec3
2030-01-01T00:00:00+00:00      0.000092      region-1  region-1-ec3
...                                 ...           ...           ...
2030-04-07T23:00:00+00:00      0.010713  region-1-ec0      region-1
2030-04-07T23:00:00+00:00      0.010713  region-1-ec0      region-1
2030-04-07T23:00:00+00:00      1.136000  region-1-ec0      region-1
2030-04-07T23:00:00+00:00      5.150528  region-1-ec0      region-1
2030-04-07T23:00:00+00:00      1.706133      region-1  region-1-ec1

[43518 rows x 3 columns]

In [9]:
# get children
sellers = [i for i in df.seller.unique() if 'mm-' not in i and i != p]
buyers = [i for i in df.buyer.unique() if 'mm-' not in i and i != p]
children = pd.Series([*sellers, *buyers]).unique()
print(children)
c = children[1]
c

['region-1-ec0' 'region-1-ec1' 'region-1-ec2' 'region-1-ec4'
 'region-1-ec3' 'region-1-ec5']

'region-1-ec1'

In [10]:
p_to_c = df[(df.seller == p) & (df.buyer == c)][['energy [kWh]']]
c_to_p = df[(df.seller == c) & (df.buyer == p)][['energy [kWh]']]
cs_to_c = df[(df.seller != p) & (df.seller != c) & (df.buyer == c)][['energy [kWh]']]
c_to_cs = df[(df.seller == c) & (df.buyer != p) & (df.buyer != c)][['energy [kWh]']]

In [11]:
c_to_p = f.share_renewable_df_grouper(df_out, c_to_p)
p_to_c = f.share_renewable_df_grouper(df_out, p_to_c)
cs_to_c = f.share_renewable_df_grouper(df_out, cs_to_c)
c_to_cs = f.share_renewable_df_grouper(df_out, c_to_cs)

In [12]:
net_p_to_c = p_to_c - c_to_p
net_cs_to_c = cs_to_c - c_to_cs

In [13]:
c_name = c if 'id' not in c else p + '_' + c
df_out_copy = df_out.copy()
df_out_copy[f'{c_name}_net_p_to_c'] = net_p_to_c
df_out_copy[f'{c_name}_net_cs_to_c'] = net_cs_to_c
df_out_copy

                  region-1-ec1_net_p_to_c  region-1-ec1_net_cs_to_c
2030-01-01T00:00                29.095249                  0.000000
2030-01-01T01:00                22.320599                  6.981230
2030-01-01T02:00                22.939082                  6.653988
2030-01-01T03:00                20.292401                  9.104583
2030-01-01T04:00                22.434055                  7.825985
...                                   ...                       ...
2030-10-07T19:00                 0.000000                  0.000000
2030-10-07T20:00                 0.000000                  0.000000
2030-10-07T21:00                 0.000000                  0.000000
2030-10-07T22:00                 0.000000                  0.000000
2030-10-07T23:00                 0.000000                  0.000000

[672 rows x 2 columns]

In [39]:
p_share_grey_electricity = 1
df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] > 0), [f'{c_name}']] = p_share_grey_electricity * (df_out_copy[f'{c_name}_net_p_to_c'] / (df_out_copy[f'{c_name}_net_p_to_c'] + df_out_copy[f'{c_name}_net_cs_to_c']))

In [41]:
df_out_copy['region-1-ec1_net_cs_to_c']

2030-01-01T00:00    0.000000
2030-01-01T01:00    6.981230
2030-01-01T02:00    6.653988
2030-01-01T03:00    9.104583
2030-01-01T04:00    7.825985
                      ...
2030-10-07T19:00    0.000000
2030-10-07T20:00    0.000000
2030-10-07T21:00    0.000000
2030-10-07T22:00    0.000000
2030-10-07T23:00    0.000000
Name: region-1-ec1_net_cs_to_c, Length: 672, dtype: float64

In [42]:
if p in df_out.columns.tolist():
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] <= 0), [c_name]] = df_out_copy[p]
    p_share_grey_electricity = df_out[p]
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] > 0), [c_name]] = p_share_grey_electricity * (df_out_copy[f'{c_name}_net_p_to_c'] / (df_out_copy[f'{c_name}_net_p_to_c'] + df_out_copy[f'{c_name}_net_cs_to_c']))
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] <= 0), [c_name]] = 0
else:
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] <= 0), [c_name]] = 1
    p_share_grey_electricity = 1
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] > 0), [c_name]] = p_share_grey_electricity * (df_out_copy[f'{c_name}_net_p_to_c'] / (df_out_copy[f'{c_name}_net_p_to_c'] + df_out_copy[f'{c_name}_net_cs_to_c']))
    df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] <= 0), [c_name]] = 0

df_out[c_name] = df_out_copy[c_name]

In [47]:
a = set(df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] <= 0)].index.tolist())
b = set(df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] > 0) & (df_out_copy[f'{c_name}_net_cs_to_c'] > 0)].index.tolist())
c = set(df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] <= 0)].index.tolist())

In [43]:
df_out

                  region-1-ec1
2030-01-01T00:00      1.000000
2030-01-01T01:00      0.761748
2030-01-01T02:00      0.775150
2030-01-01T03:00      0.690289
2030-01-01T04:00      0.741376
...                        ...
2030-10-07T19:00      0.000000
2030-10-07T20:00      0.000000
2030-10-07T21:00      0.000000
2030-10-07T22:00      0.000000
2030-10-07T23:00      0.000000

[672 rows x 1 columns]

In [15]:
c = df_out_copy.loc[(df_out_copy[f'{c_name}_net_p_to_c'] <= 0)]
c

                  region-1-ec1_net_p_to_c  region-1-ec1_net_cs_to_c
2030-01-02T09:00               -14.873469                  5.944512
2030-01-02T10:00               -21.395869                  0.000000
2030-01-02T11:00               -28.593640                  0.000000
2030-01-02T12:00               -26.122382                  0.000000
2030-01-02T13:00                -8.580793                  0.000000
...                                   ...                       ...
2030-10-07T19:00                 0.000000                  0.000000
2030-10-07T20:00                 0.000000                  0.000000
2030-10-07T21:00                 0.000000                  0.000000
2030-10-07T22:00                 0.000000                  0.000000
2030-10-07T23:00                 0.000000                  0.000000

[416 rows x 2 columns]

In [16]:
df_out.

ValueError: Cannot index with multidimensional key